:root {
  --card-scale: 1;
  --battle-view-scale: 0.85;
}

@media (prefers-reduced-motion: no-preference) {
  .hit-anim {
    animation: hit-anim-keyframes 1s linear;
    animation-iteration-count: 1;
  }

  .bonus-anim {
    animation: bonus-anim-keyframes 1s linear;
    animation-iteration-count: 1;
  }

  .penalty-anim {
    animation: penalty-anim-keyframes 1s linear;
    animation-iteration-count: 1;
  }
}

@keyframes hit-anim-keyframes {
  0% {
    transform: translateX(0%);
  }
  
  15% {
    transform: translateX(-2.5%);
  }
  
  30% {
    transform: translateX(0%);
  }
  
  45% {
    transform: translateX(1%);
  }
  
  60% {
    transform: translateX(0%);
  }
}

@keyframes bonus-anim-keyframes {
  0%, 100% {
    /* transform: scale(1); */
  }

  50% {
    transform: scale(calc(var(--card-scale) * 1.2));
  }
}

@keyframes penalty-anim-keyframes {
  0%, 100% {
    /* transform: scale(1); */
  }

  50% {
    transform: scale(calc(var(--card-scale) * 0.85));
  }
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  pointer-events: none;
}

.hero-card {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  width: 300px;
  /* width: 15.7vw; */ /* Use this when changing cards to use viewport-relative units */

  height: 400px;
  /* height: 39.8vh; */ /* Use this when changing cards to use viewport-relative units */
  padding-top: 5px;
  padding-bottom: 0px;
  margin: 30px 30px;
  
  transition: all 0.3s ease;

  transform: scale(var(--card-scale));
}

/* .hero-card:hover {
  transform: scale(1.05);
} */

.hero-card-image {
  border-radius: 10px;
  box-shadow: 15px 15px 10px 5px rgba(197, 197, 197, 0.93);
  border: 8px solid rgb(181, 140, 78);
  padding: 0;
  
  /* new frame stuff */
  position: absolute;
  top: 3%;
  left: 3.5%;
  /* width: 88.5%; */
  width: 93.5%; /* New to fix bootstrap */
  /* height: 88.5%; */
  height: 92.5%; /* New to fix bootstrap */
  object-fit: cover;
}

.hero-card-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 101%;
}

.stats-container {
  position: absolute;
  top: 0%;
  left: 0.3%;
  text-align: center;
  width: 100%;
  height: 100%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.hero-name {
  position: absolute;
  /* top: 53%; */
  top: 59.25%; /* Fix formatting after bootstrap */
  width: 100%;
  font-size: 190%;
  text-shadow: 0px 0px 20px black;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}

.statdiv {
  position: absolute;
  font-size: 30px;
  width: max-content;

  /* top: 74%; */
  top: 80.25%;
}

.hero-stat {
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 30px;
  text-shadow: 0px 0px 20px black;
  font-weight: bold;
  color: white;
  margin-bottom: 0;
}
